.App {
  text-align: center;
}

.App-header {
  background-color: #4285F4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #202124;
}

.Title{
  margin-top: 50px;
  font-size: 50px;
  font-weight: 500;
}

.Opcions{
  padding: 20px;
  margin-top: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.Opcions :hover{
  background-color: #D2E3FC;
  cursor: pointer;
}
.Opcion{
  padding: 20px;
  border-radius: 12px;
}
.text-opcion{
  color: #202124;
}
.Images{
  width: 150px;
  height: 150px;
}

